.header{
    height:55px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    background-color: white;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(226, 226, 226);
    margin-left:0px;
    z-index:100;


}.left-section{
    display:flex;
    align-items: center;
    

}.middle-section{
    flex:1;
    margin-left:70px;
    margin-right:35px;
    max-width:500px;
    display:flex;
    align-items:center;

}.right-section{
    display:flex;
    width:200px;
    align-items:center;
    flex-shrink:0;

} .hamburger-menu{
    height:24px;
    margin-left:22px;
    margin-right:20px;
    cursor:pointer;

}.youtube-logo{
    height: 20px;
    margin-left:4px;

}.search-button{
    
    height:39px;
    width:60px;
    border-style:solid;
    border-radius: 0px 20px 20px 0px;
    border-color:rgb(192, 185, 185);

    
}.search-button:hover{
    background-color:rgb(230, 228, 228);
}
.search-icon{
    height:25px;
    margin-top:4px;
}
.voice-search-button{
    margin-left:12px;
    height:40px;
    width:40px;
    border-style:solid;
    border-color:white;
    border-radius:20px;
}.voice-search-button:hover{
    background-color:rgb(230, 228, 228);
}
.voice-image{
    margin-top:4px;
    cursor:pointer;
}
.search-bar{
    padding-left:16px;
    width:0;
    flex:1;
    height:35.8px;
    font-size:16px;
    border-width:1px;
    border-style:solid;
    border-color:rgb(192, 185, 185);
    border-radius:20px 0px 0px 20px;
    box-shadow:inset 1px 2px 5px rgba(0,0,0,0.05)

}.search-bar:hover{
background-color: rgb(250, 250, 250);
cursor:pointer;
}
.search-bar::placeholder{
    font-family:Roboto,Arial;
    font-size:16px;
    cursor:pointer;

}.upload{
    width:30px;

}
.upload:hover{
    cursor:pointer;
}.apss{
    margin-left:20px;
    width:30px;
}
.apss:hover{
    cursor:pointer;
}.notification{
    margin-left:20px;
    width:30px;
    height:25px;
  }  .notification:hover
  
{cursor:pointer;}
.picture{
    margin-left:20px;
    width:35px;
    height:35px;
    border-radius: 70px;
} .picture{
    cursor: pointer;
}
.notification1{
    position:relative;
}.noti{
    position:absolute;
    top:-2px;
    right:-1px; 
    background-color: rgb(174, 28, 28);
    color:white;
    font-family:Roboto,Arial;
    font-size: 10px;
    border-radius:10px;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    padding-bottom:2px;
}