.sidebar{
    position:fixed;
    bottom:0;
    top: 55px;
    left:0px;
    width:66px;
    background-color: white;

}

.sidebar-link{
height:50px;
display:flex;
flex-direction:column;
justify-content :center;
align-items: center;
margin-bottom:30px;

}
.sidebar-link:hover{
    background-color: rgb(244, 244, 244);
    height:50px;
    margin-bottom:30px;
    cursor:pointer;
}



 .sidebar-link img{
    height:35px;
    width:30px;
}.sidebar-link div{
    font-family:Roboto,Arial;
    font-size:9px;
    font-weight: 900;

}